TRYOUT_DB_ROOT_PASSWORD=R007Pa55word
TRYOUT_DB_DATABASE=tryout-db
TRYOUT_DB_USER=tryout_user
TRYOUT_DB_PASSWORD=password
TRYOUT_DB_DATAFILES_DIR=G:\tmp\tryout-db-data-files
TRYOUT_DB_TCP_PORT=3310
TRYOUT_DB_INIT=..\..\swot-modules\swot-storage-api\src\test\resources\sql-scripts\initialise-tryout.sql


#########################################################
##           Notes on running TRYOUT application
#########################################################
## 1. Ensure the path provided in TRYOUT_DB_DATAFILES_DIR exists
##
## 2. If TRYOUT_DB_DATAFILES_DIR already contains data files  
##    i.e. a db already exists, then no initialisation takes 
##    place. The existing db is used unchanged.
##
## 3. If TRYOUT_DB_DATAFILES_DIR is empty then a new database is 
##    created using the sql script provided in TRYOUT_DB_INIT_DB
##    Ensure that the file referenced in TRYOUT_DB_INIT_DB is present
##
## 4. To check everything is started up correctly
##    a) Shell in to the container with `docker exec -it <container_name> /bin/bash`
##    b) Once on the cmd prompt in the container run `mysql -u root -pR007Pa55word`
##    c) At the mysql prompt run `show databases;`. A db named with the value of TRYOUT_DB_DATABASE property should be there.
##
## mysql -u root -pR007Pa55word --host=tryout-db --port=3306
