body {
  font-family: sans-serif;
}

.list li {
/*  margin: 0.75rem 0;*/
}

.info {
/*  color: rgb(0, 49, 0);*/
/*  background-color: rgb(230, 246, 230);*/
/*  padding: 1rem;*/
/*  border-radius: 4px;*/
}

.accordion {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
}

.item {
/*  border-bottom: 1px solid #ccc;*/
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
/*  width: 100%;*/
  width: 1000px;
  margin: 0;
/*  padding: 1rem;*/
  font-size: 1.2rem;
  text-align: left;
/*  color: #007bff;*/
  color: darkblue;
  background-color: transparent;
  border: none;
/*  border: 1px;*/
}

.itemBtn:hover {
/*  background-color: #f3f3f3;*/
/*  border: 1px;*/
}

.itemBtnExpanded {
/*  background-color: #e7e7e7;*/
/*  border: 1px;*/
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
  color: cadetblue
}

.itemPanel {
  padding: 1rem;
/*  border: 1px;*/
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  float: inline-end;
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
  
}

.title {
  color: darkblue;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  width: 1000px;  
}

.description {
/*  color: var(--ifm-color-gray-600);*/
  color: dimgrey;
  margin: 5pt;
  font-size: 0.8rem;
  text-align: left;
}

.label {
	background-color: white;
	color: dimgrey;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 5pt;
}
